
<head>
<link rel='stylesheet' href='stylesheets/login.css'>
</head>



<header class='container'>

    <form action='/session' method="post" class='login-form'>
        <label for='' class='email-label'></label>
        <input type="email" name="email" class='email-input' placeholder='email'>
        <label for=''class='password-label'></label>
        <input type='password' name='password' class='password-input' placeholder='Password'>
        <button class='btn-login'>Login</button>
    </form>

    <a href='/new'class='user-register'>Register</a>
</header>




