




<form action='/login' method="post">
    <label for=''>email</label>
    <input type="email" name="email">
    <label for=''>password</label>
    <input type='password' name='password'>
    <label for=''>User name</label>
    <input type='text' name='name'>
    <label for=''>Profile avatar</label>
    <input type='text' name='img_url'>
    <button>Register</button>
</form>